In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 23.0 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 19.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [3]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://indahcahya826:admin10@cluster0.54urv.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [4]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('672ab4f89fb57a8525b7dd27'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672ab4f89fb57a8525b7dd28'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [5]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('672ab4f89fb57a8525b7dd27'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672ab4f89fb57a8525b7dd28'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [6]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Physics', 'average_enrollment': 15.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Computer Science', 'average_enrollment': 25.0}

In [7]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Computer Science', 'max_enrollment': 25}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [8]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672ab4f89fb57a8525b7dd27'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672ab4f89fb57a8525b7dd28'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672ab4f89fb57a8525b7dd29'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('672ab4f89fb57a8525b7dd2a'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [9]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672ab4f89fb57a8525b7dd27'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672ab4f89fb57a8525b7dd28'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672ab4f89fb57a8525b7dd29'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('672ab4f89fb57a8525b7dd2a'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

### Homework for Students

**Homework 1**: Perform an aggregation to get a count of courses per department.

In [12]:
pipeline = [
    {"$group": {"_id": "$department", "course_count": {"$sum": 1}}}
]

result = courses_collection.aggregate(pipeline)
print("Courses per department:")
for doc in result:
    print(doc)

Courses per department:
{'_id': 'History', 'course_count': 1}
{'_id': 'Mathematics', 'course_count': 1}
{'_id': 'Computer Science', 'course_count': 1}
{'_id': 'Physics', 'course_count': 1}

**Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.

In [13]:
pipeline = [
    {"$match": {"department": "Computer Science", "enrollments": {"$gt": 25}}},

    {"$group": {"_id": "$department", "courses": {"$push": "$course"}}}
]

result = courses_collection.aggregate(pipeline)
print("Computer Science courses with enrollments over 25:")
for doc in result:
    print(doc)

Computer Science courses with enrollments over 25:

**Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [14]:
pipeline = [
    {
        "$lookup": {
            "from": "students", # Name of the collection to join
            "localField": "enrollment_ids", # Field in 'courses' collection
            "foreignField": "_id", # Field in 'students' collection
            "as": "student_details" # Output array field in the results
       }
    }
]

result = courses_collection.aggregate(pipeline)
print("Courses with student enrollment details:")
for doc in result:
    print(doc)

Courses with student enrollment details:
{'_id': ObjectId('672ab4f89fb57a8525b7dd27'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'student_details': []}
{'_id': ObjectId('672ab4f89fb57a8525b7dd28'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'student_details': []}
{'_id': ObjectId('672ab4f89fb57a8525b7dd29'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'student_details': []}
{'_id': ObjectId('672ab4f89fb57a8525b7dd2a'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'student_details': []}