In [7]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 18.9 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 16.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [8]:
# TUGAS 1 (Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal)
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://indahcahya826:admin10@cluster0.54urv.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [9]:
# TUGAS 2 (Insert, Update, dan Delete data pada koleksi `employees`)
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

Data inserted

In [1]:
!curl ifconfig.me

35.202.212.59

In [10]:
# Contoh insert beberapa data tambahan ke dalam koleksi
additional_employees = [
    {'name': 'Bob', 'department': 'Engineering', 'age': 32, 'salary': 5500},
    {'name': 'Charlie', 'department': 'Sales', 'age': 27, 'salary': 4000},
    {'name': 'Diana', 'department': 'HR', 'age': 35, 'salary': 5000}
]

collection.insert_many(additional_employees)
print('Additional data inserted')

Additional data inserted

In [11]:
# Update salary untuk karyawan bernama Alice
collection.update_one(
    {'name': 'Alice'},
    {'$set': {'salary': 5000}}
)
print("Alice's salary updated")

Alice's salary updated

In [12]:
# Update salary untuk semua karyawan di departemen Finance
collection.update_many(
    {'department': 'Finance'},
    {'$set': {'salary': 4700}}
)
print('Salaries updated for Finance department')

Salaries updated for Finance department

In [13]:
# Menghapus data karyawan bernama Charlie
collection.delete_one({'name': 'Charlie'})
print('Data for Charlie deleted')

Data for Charlie deleted

In [14]:
# Menghapus semua karyawan di departemen HR
collection.delete_many({'department': 'HR'})
print('All employees in HR department deleted')

All employees in HR department deleted

In [15]:
# Menampilkan semua data di koleksi
for employee in collection.find():
    print(employee)

{'_id': ObjectId('67219467fccf47a8f10719d2'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4700}
{'_id': ObjectId('672194c2fccf47a8f10719d3'), 'name': 'Bob', 'department': 'Engineering', 'age': 32, 'salary': 5500}

In [16]:
# TUGAS 3 (Terapkan aggregation untuk menghitung rata-rata gaji per departemen)
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4700.0}
{'_id': 'Engineering', 'average_salary': 5500.0}

In [17]:
# LATIHAN 4.1 (Buat koleksi baru bernama products)
products_collection = db['products']

product_data = [
    {'name': 'Laptop', 'category': 'Electronics', 'price': 1000},
    {'name': 'Smartphone', 'category': 'Electronics', 'price': 600},
    {'name': 'Headphones', 'category': 'Electronics', 'price': 150},
    {'name': 'Coffee Maker', 'category': 'Appliances', 'price': 80},
    {'name': 'Blender', 'category': 'Appliances', 'price': 50},
    {'name': 'Book', 'category': 'Books', 'price': 20},
    {'name': 'Monitor', 'category': 'Electronics', 'price': 200},
    {'name': 'Vacuum Cleaner', 'category': 'Appliances', 'price': 120},
    {'name': 'Desk Lamp', 'category': 'Furniture', 'price': 45},
    {'name': 'Chair', 'category': 'Furniture', 'price': 85}
]

products_collection.insert_many(product_data)
print('Data produk berhasil ditambahkan')

Data produk berhasil ditambahkan

In [18]:
# LATIHAN 4.2 (Lakukan query untuk menemukan produk dengan harga di atas rata-rata)
avg_price_pipeline = [
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
]

avg_price_result = list(products_collection.aggregate(avg_price_pipeline))
average_price = avg_price_result[0]['average_price']
print(f'Average Price: {average_price}')

products_above_avg = products_collection.find({'price': {'$gt': average_price}})

print("Products with price above average:")
for product in products_above_avg:
    print(product)

Average Price: 235.0
Products with price above average:
{'_id': ObjectId('672197edfccf47a8f10719d6'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1000}
{'_id': ObjectId('672197edfccf47a8f10719d7'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 600}

In [19]:
# LATIHAN 4.3 (Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori)
category_count_pipeline = [
    {
        '$group': {
            '_id': '$category',  # Kelompokkan berdasarkan kategori
            'total_products': {'$sum': 1}  # Hitung jumlah produk
        }
    }
]

# Eksekusi pipeline dan tampilkan hasilnya
for result in products_collection.aggregate(category_count_pipeline):
    print(f"Category: {result['_id']}, Total Products: {result['total_products']}")

Category: Books, Total Products: 1
Category: Furniture, Total Products: 2
Category: Appliances, Total Products: 3
Category: Electronics, Total Products: 4

In [20]:
# TUGAS 1 (Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai)
pipeline_highest_salary = [
    {'$sort': {'salary': -1}},
    {
        '$group': {
            '_id': {'department': '$department', 'name': '$name'},
            'salary': {'$first': '$salary'}
    },
    {'$group': {
        '_id': '$_id.department',
        'employees': {
            '$push': {'name': '$_id.name', 'salary': '$salary'}
        }
    }},
    {'$project': {
        'top_employees': {'$slice': ['$employees', 5]}
    }}
]

for result in collection.aggregate(pipeline_highest_salary):
    print(f"Department: {result['_id']}, Top Employees: {result['top_employees']}")

Department: Engineering, Top Employees: [{'name': 'Bob', 'salary': 5500}]
Department: Finance, Top Employees: [{'name': 'Alice', 'salary': 4700}]

In [21]:
# TUGAS 2 (Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database)
result = collection.delete_many({'age': {'$lt': 25}})
print(f'Deleted {result.deleted_count} employees under 25 years old.')

Deleted 0 employees under 25 years old.

In [22]:
# TUGAS 3 (Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan)
pipeline_summary = [
    {
        '$group': {
            '_id': '$department',  # Kelompokkan berdasarkan departemen
            'total_salary': {'$sum': '$salary'},  # Hitung total gaji
            'average_age': {'$avg': '$age'}  # Hitung rata-rata umur
        }
    }
]

# Eksekusi aggregation
for result in collection.aggregate(pipeline_summary):
    print(f"Department: {result['_id']}, Total Salary: {result['total_salary']}, Average Age: {result['average_age']}")

Department: Engineering, Total Salary: 5500, Average Age: 32.0
Department: Finance, Total Salary: 4700, Average Age: 29.0